@import url("https://use.typekit.net/plg4ufk.css");

$neueKabelFont: 'neue-kabel', sans-serif;
$purple: rgb(54, 3, 88);
$darkTeal: rgba(31, 120, 138, 1);
$darkGreen: rgb(4, 65, 6);
$deepRed: rgba(157, 6, 24, 1);
$darkerPink: rgba(175, 9, 177, 1);
$lightText: #ddd;
$activeLikeBG: rgba(200, 122, 255, 0.8);
$boxShadow: rgba(0, 0, 0, 0.5) 0px 6px 10px 0px,
              rgba(0, 0, 0, 0.1) 0px 0px 0px 1px;
$gap: 0.5rem;
$radius: 5px;

@mixin flex($direction, $justify, $align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    25% {
        transform: scale(1.25);
    }
    50% {
        transform: scale(1);
    }
    75% {
        transform: scale(1.25);
    }
    100% {
        transform: scale(1);
    }
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: $neueKabelFont;
}

body, html {
    @include flex(column, center, center);
    font-family: $neueKabelFont;
    background-color: $purple;
    overflow-x: hidden;
}

#savedContainer {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    height: 5%;
    z-index: 1000;
    &.visible {
        display: block;
        opacity: 1;
        visibility: visible;
    }
    #savedImgs {
        z-index: 1000;
        background-color: #e4c1fb;
        color: $lightText;
        @include flex(row, flex-start, center);
        column-gap: $gap;
        cursor: pointer;
        border: $radius;
        border: none;
        box-shadow: $boxShadow;
        position: relative;
        svg {
            .cls-1, .cls-2 {
                fill: #1d3050;
            }
            .cls-2, .cls-4 {
                stroke: #1d3050;
                stroke-width: 2px;
            }
            .cls-3 {
                stroke: #ed1c24;
                stroke-width: 4px;
            }
            .cls-3, .cls-4 {
                fill: none;
            }
        }
        i {
            font-size: 2rem;
            color: #ed1c24;
        }
    }
    #likedDropdownList {
        position: absolute;
        top: 110%;
        right: 20%;
        width: 250px;
        box-shadow: $boxShadow;
        border-radius: $radius;
        background: $purple;
        display: none;
        transition: all 0.1s cubic-bezier(0.16, 1, 0.5, 1);
        transform: translateY(0.5rem);
        ol {
            padding: 25px;
            display: none;
            opacity: 0;
            transform: translateY(-20px);
            transition: all 0.3s;
            &.visible {
                display: block;
                opacity: 1;
                transform: translateY(0px)
            }
            li {
                @include flex(column, center, center);
                column-gap: $gap;
                padding: 0.8rem 1rem;
                text-decoration: none;
                font-weight: 400;
                color: $lightText;
            }
        }
        

    }
}

#galleryTitle {
    @include flex(row, center, center);
    height: 100vh;
    width: 100vw;
    font-size: 5rem;
    font-weight: 600;
    text-align: center;
    color: $lightText;
    margin-bottom: 25vh;
}

.explanation-text {
    font-size: 1.5rem;
    font-weight: 400;
    width: 70vw;
    line-height: 1.2;
    color: $lightText;
    p {
        margin: 1rem;
    }
    .time-place {
        font-size: 1.1rem;
        text-align: end;
        font-weight: 300;
        font-style: italic;
        margin: 10%;
    }
}

.vector-container {
    height: 100vh;
    width: 100vw;
    @include flex(row, center, center);
    .decrepit-vector {
        width: 90vw;
        height: auto;
        padding-bottom: 50vh;
    }
}

#activeFilter {
    position: fixed;
    top: 40%;
    left: 10px;
    color: $lightText;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 1.5rem;
    font-weight: 400;
}

#filterButtonContainer {
    position: fixed;
    top: 20%;
    right: -200px;
    width: 200px;
    background: none;
    color: $lightText;
    #filterToggle {
        background: none;
        background-color: none;
        padding: 0 1.5rem 0 0.5rem;
        border-radius: 10px;
        font-size: 3rem;
        color: $lightText;
        border: 2px solid $lightText;
        cursor: pointer;
    }
    .filter-section {
        font-size: 1.2rem;
        text-align: end;
        padding-bottom: 0.5rem;
    }
    .filter-options {
        display: none;
        background: $darkerPink;
    
        .filter-option {
            @include flex(column, flex-start, flex-start);
            background: none;
            background-color: none;
            color: $lightText;
            font-weight: 400;
            outline: none;
            border: none;
            text-decoration: underline;
            cursor: pointer;
        }
    }
    
}
.filtered-imgs {
    cursor: pointer;
}

#imageGalleryContainer {
    width: 95vw;
    margin: auto;
    @include flex(row, center, center);
    column-gap: $gap;
    row-gap: $gap;
    flex-wrap: wrap;
    .img-content {
        width: 40%;
        height: 30%;
        position: relative;
        cursor: pointer;
        overflow: hidden;
        img {
            width: 100%;
            height: 100%;
            filter: saturate(30%);
            &:hover {
                transform: scale(1.2);
                filter: saturate(100%);
            }
        }
        .like-btn {
            transform-origin: center;
            background: none;
            border: none;
            width: 3rem;
            height: 3rem;
            position: absolute;
            top: 5%;
            right: 5%;
            svg {
                transform-origin: center;
                margin: 10% auto auto;
            }
            &:active {
                background: $activeLikeBG;
                border-radius: 50%;
            }
            &:hover {
                animation: pulse 1s reverse infinite;
            }
        }

        .captionContainer {
            @include flex(column, flex-end, flex-start);
            position: absolute;
            bottom: 10px;
            left: 10px;
            color: #fff;
            .caption {
                font-size: 1.25rem;
                font-weight: 500;
                padding: 2px;
            }
            .subCaption {
                font-size: 1rem;
                font-weight: 300;
                font-style: italic;
            }
        }
    }
}

#lightboxContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    @include flex(row, center, center);
    z-index: 100;
    display: none;
    .lightbox-content {
        position: relative;
        width: 95%;
        max-width: 1200px;
        margin: auto;
        background: $darkGreen;
        padding: 20px;
        box-shadow: $boxShadow;
        border-radius: $radius;
        .lightbox-img {
            width: 100%;
            height: auto;
            display: block;
        }
        .lightbox-like-btn {
            position: absolute;
            top: 10%;
            right: 15%;
            background: none;
            outline: none;
            border: none;
            cursor: pointer;
            transform: scale(1.4);
           
        }
        .caption-container {
            position: absolute;
            bottom: 10%;
            left: 5%;
            background: rgba(0, 0, 0, 0.6);
            color: $lightText;
            text-align: center;
            padding: 10px;
            border-radius: 0 0 $radius $radius;
        }
        .lightbox-close {
            position: absolute;
            top: 10px;
            right: 10px;
            border: none;
            background: none;
            color: $lightText;
            font-size: 2rem;
            cursor: pointer;
        }
        .prev,
        .next {
            position: absolute;
            top: 45%;
            border: none;
            background: none;
            color: $lightText;
            font-size: 2rem;
            cursor: pointer;
        }
        .next {
            right: 15px;
        }
        .prev {
            left: 15px;
        }
    }
}