@import url("https://use.typekit.net/plg4ufk.css");
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.25);
  }
  50% {
    transform: scale(1);
  }
  75% {
    transform: scale(1.25);
  }
  100% {
    transform: scale(1);
  }
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "neue-kabel", sans-serif;
}

body, html {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "neue-kabel", sans-serif;
  background-color: rgb(54, 3, 88);
  overflow-x: hidden;
}

#savedContainer {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  height: 5%;
  z-index: 1000;
}
#savedContainer.visible {
  display: block;
  opacity: 1;
  visibility: visible;
}
#savedContainer #savedImgs {
  z-index: 1000;
  background-color: #e4c1fb;
  color: #ddd;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  column-gap: 0.5rem;
  cursor: pointer;
  border: 5px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 6px 10px 0px, rgba(0, 0, 0, 0.1) 0px 0px 0px 1px;
  position: relative;
}
#savedContainer #savedImgs svg .cls-1, #savedContainer #savedImgs svg .cls-2 {
  fill: #1d3050;
}
#savedContainer #savedImgs svg .cls-2, #savedContainer #savedImgs svg .cls-4 {
  stroke: #1d3050;
  stroke-width: 2px;
}
#savedContainer #savedImgs svg .cls-3 {
  stroke: #ed1c24;
  stroke-width: 4px;
}
#savedContainer #savedImgs svg .cls-3, #savedContainer #savedImgs svg .cls-4 {
  fill: none;
}
#savedContainer #savedImgs i {
  font-size: 2rem;
  color: #ed1c24;
}
#savedContainer #likedDropdownList {
  position: absolute;
  top: 110%;
  right: 20%;
  width: 250px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 6px 10px 0px, rgba(0, 0, 0, 0.1) 0px 0px 0px 1px;
  border-radius: 5px;
  background: rgb(54, 3, 88);
  display: none;
  transition: all 0.1s cubic-bezier(0.16, 1, 0.5, 1);
  transform: translateY(0.5rem);
}
#savedContainer #likedDropdownList ol {
  padding: 25px;
  display: none;
  opacity: 0;
  transform: translateY(-20px);
  transition: all 0.3s;
}
#savedContainer #likedDropdownList ol.visible {
  display: block;
  opacity: 1;
  transform: translateY(0px);
}
#savedContainer #likedDropdownList ol li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  column-gap: 0.5rem;
  padding: 0.8rem 1rem;
  text-decoration: none;
  font-weight: 400;
  color: #ddd;
}

#galleryTitle {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  font-size: 5rem;
  font-weight: 600;
  text-align: center;
  color: #ddd;
  margin-bottom: 25vh;
}

.explanation-text {
  font-size: 1.5rem;
  font-weight: 400;
  width: 70vw;
  line-height: 1.2;
  color: #ddd;
}
.explanation-text p {
  margin: 1rem;
}
.explanation-text .time-place {
  font-size: 1.1rem;
  text-align: end;
  font-weight: 300;
  font-style: italic;
  margin: 10%;
}

.vector-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.vector-container .decrepit-vector {
  width: 90vw;
  height: auto;
  padding-bottom: 50vh;
}

#activeFilter {
  position: fixed;
  top: 40%;
  left: 10px;
  color: #ddd;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 1.5rem;
  font-weight: 400;
}

#filterButtonContainer {
  z-index: 1000;
  position: fixed;
  top: 20%;
  right: -200px;
  width: 200px;
  background: none;
  color: #ddd;
}
#filterButtonContainer #filterToggle {
  z-index: 10000;
  background: none;
  background-color: none;
  padding: 0 1.5rem 0 0.5rem;
  border-radius: 10px;
  font-size: 3rem;
  color: #ddd;
  border: 2px solid #ddd;
  cursor: pointer;
}
#filterButtonContainer .filter-section {
  z-index: 10000;
  font-size: 1.2rem;
  text-align: end;
  padding-bottom: 0.5rem;
}
#filterButtonContainer .filter-options {
  display: none;
  background: rgb(175, 9, 177);
  padding: 1rem;
}
#filterButtonContainer .filter-options .filter-option {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background: none;
  background-color: none;
  color: #ddd;
  font-weight: 400;
  outline: none;
  border: none;
  text-decoration: underline;
  cursor: pointer;
}

.filtered-imgs {
  cursor: pointer;
}

#imageGalleryContainer {
  z-index: 1;
  width: 95vw;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 0.5rem;
  row-gap: 0.5rem;
  flex-wrap: wrap;
}
#imageGalleryContainer .img-content {
  width: 40%;
  height: 30%;
  position: relative;
  cursor: pointer;
  overflow: hidden;
}
#imageGalleryContainer .img-content img {
  width: 100%;
  height: 100%;
  filter: saturate(30%);
}
#imageGalleryContainer .img-content img:hover {
  transform: scale(1.2);
  filter: saturate(100%);
}
#imageGalleryContainer .img-content .like-btn {
  transform-origin: center;
  background: none;
  border: none;
  width: 3rem;
  height: 3rem;
  position: absolute;
  top: 5%;
  right: 5%;
}
#imageGalleryContainer .img-content .like-btn svg {
  transform-origin: center;
  margin: 10% auto auto;
}
#imageGalleryContainer .img-content .like-btn:active {
  background: rgba(200, 122, 255, 0.8);
  border-radius: 50%;
}
#imageGalleryContainer .img-content .like-btn:hover {
  animation: pulse 1s reverse infinite;
}
#imageGalleryContainer .img-content .captionContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: #fff;
}
#imageGalleryContainer .img-content .captionContainer .caption {
  font-size: 1.25rem;
  font-weight: 500;
  padding: 2px;
}
#imageGalleryContainer .img-content .captionContainer .subCaption {
  font-size: 1rem;
  font-weight: 300;
  font-style: italic;
}

#lightboxContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  z-index: 100;
  display: none;
}
#lightboxContainer .lightbox-content {
  position: relative;
  width: 95%;
  max-width: 1200px;
  margin: auto;
  background: rgb(4, 65, 6);
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 6px 10px 0px, rgba(0, 0, 0, 0.1) 0px 0px 0px 1px;
  border-radius: 5px;
}
#lightboxContainer .lightbox-content .lightbox-img {
  width: 100%;
  height: auto;
  display: block;
}
#lightboxContainer .lightbox-content .lightbox-like-btn {
  position: absolute;
  top: 10%;
  right: 15%;
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
  transform: scale(1.4);
}
#lightboxContainer .lightbox-content .caption-container {
  position: absolute;
  bottom: 10%;
  left: 5%;
  background: rgba(0, 0, 0, 0.6);
  color: #ddd;
  text-align: center;
  padding: 10px;
  border-radius: 0 0 5px 5px;
}
#lightboxContainer .lightbox-content .lightbox-close {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  background: none;
  color: #ddd;
  font-size: 2rem;
  cursor: pointer;
}
#lightboxContainer .lightbox-content .prev,
#lightboxContainer .lightbox-content .next {
  position: absolute;
  top: 45%;
  border: none;
  background: none;
  color: #ddd;
  font-size: 2rem;
  cursor: pointer;
}
#lightboxContainer .lightbox-content .next {
  right: 15px;
}
#lightboxContainer .lightbox-content .prev {
  left: 15px;
}/*# sourceMappingURL=styles.css.map */